@use "../../styles/variables.scss" as varr;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-top: 4.8rem;
    margin-bottom: 8rem;
    padding: 1rem;

    img {
      width: 9rem;
    }
  }

  &__body {
    background-color: varr.$white__bg;
    min-width: 42.6rem;
    min-height: 42.5rem;
    padding: 3.2rem;

    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;

    @media screen and (max-width: 450px) {
      min-width: 90%;
    }

    h1 {
      font-size: 2.4rem;
      text-align: center;
      padding-bottom: 3.4rem;
      font-weight: 500;
    }

    p {
      padding-bottom: 3.6rem;

      span {
        color: varr.$blue__color;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__field {
    padding-bottom: 3.2rem;

    &--label {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.2rem;
      font-size: 1.4rem;
      color: #777;

      span {
        color: varr.$blue__color;
      }
    }

    &--input {
      border: 1px solid varr.$grey__color;
      border-radius: varr.$radius;
      -webkit-border-radius: varr.$radius;
      -moz-border-radius: varr.$radius;
      -ms-border-radius: varr.$radius;
      -o-border-radius: varr.$radius;

      display: flex;
      align-items: center;

      font-size: varr.$main__font;
      color: varr.$text__color;
      height: 4.4rem;
      padding: 1.3rem 1.6rem;

      border-radius: varr.$radius;
      -webkit-border-radius: varr.$radius;
      -moz-border-radius: varr.$radius;
      -ms-border-radius: varr.$radius;
      -o-border-radius: varr.$radius;

      input {
        border: none;
        outline: 1px solid transparent;
        background-color: transparent;
        height: 100%;
        width: 90%;
        font-family: varr.$text-font;

        &::placeholder {
          color: varr.$grey__color;
        }
      }
    }
  }

  button {
    height: 4.4rem;
    background: none;
    border: none;
    outline: none;
    background-color: varr.$blue__color;
    color: varr.$white__bg;
    font-size: 1.4rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

    border-radius: varr.$radius;
    -webkit-border-radius: varr.$radius;
    -moz-border-radius: varr.$radius;
    -ms-border-radius: varr.$radius;
    -o-border-radius: varr.$radius;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &:hover {
      background-color: varr.$blue__color--dark;
      transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
    }

    &:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      transform: translateY(-0.5px);
      -webkit-transform: translateY(-0.5px);
      -moz-transform: translateY(-0.5px);
      -ms-transform: translateY(-0.5px);
      -o-transform: translateY(-0.5px);
    }
  }
}

.eye_icon {
  width: 10%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: varr.$grey__color;
  cursor: pointer;
}
