@use "../../styles/variables.scss" as varr;

.sidebar {
  background-color: varr.$white__bg;
  min-height: calc(100vh - 7.8rem);
  padding: varr.$main__padding;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    padding: 1.6rem 1rem;
  }

  &__category {
    h5 {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2rem;
      margin-bottom: 2.2rem;
      margin-top: 1.3rem;
      letter-spacing: 1.5px;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  color: #65717c;
  margin-bottom: 2rem;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  img {
    margin-right: 1.3rem;
    height: 2rem;
  }

  p {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-size: 1.6rem;

    span {
      font-size: 1.2rem;
      color: #02ba81;
      margin-top: 0.3rem;
    }
  }

  &:hover {
    padding-left: 0.5rem;
  }
}

.active {
  color: varr.$blue__color;
  padding-left: 0.5rem;
}

.new {
  align-self: flex-start;
}

.settings {
  margin-top: auto;
}

.link {
  text-decoration: none;
}
